.header {
    height: 40vw;
    margin: 30px auto;
    background: url('./../../assets/jonbakes-desktop.png') no-repeat;
    background-size: cover;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: #fff;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: #fff;
    font-style: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #fff;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header {
        height: 100vw;
        margin: 30px auto;
        background: url('./../../assets/jonbakes-mobile.png') no-repeat;
        background-size: cover;
        position: relative;
    }

    .header-contents {
        max-width: 65%;
        bottom: 63%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}